body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

form {
  background: #222;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 8px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #00ff88;
  border: none;
  cursor: pointer;
}
