body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #0b0f19;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 0 20px #00ffcc;
  text-align: center;
}

h1 {
  color: #00ffcc;
}

.tag {
  color: #aaa;
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #00ffcc;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #00ddb5;
}

.switch {
  margin-top: 10px;
  color: #aaa;
}

.switch a {
  color: #00ffcc;
  text-decoration: none;
}

#msg {
  color: yellow;
  font-size: 14px;
  min-height: 18px;
}
