body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  margin: 40px auto;
  text-align: center;
}

h1 {
  color: #38bdf8;
}

.card {
  background: #020617;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #38bdf8;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 95%;
  padding: 10px;
  background: #38bdf8;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

p {
  margin-top: 10px;
}
